@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #f0f3fa;
        --primary: #020f1e;
        --secondary: #020f1ec6;

        --active: #f2f2f2;
        --backdrop: #b0b0b06b;

        --card: #d3d4d6;
        --popover: #ffffff;
        --muted: #6a6a6a;
        --destructive: #ef4444;
        --ring: #020817;

        --radius: 0.5rem;
    }

    .dark {
        --background: #020f1e;
        --primary: #bdcfe3;
        --secondary: #9bb0c7;

        --active: #041324;
        --backdrop: #ffffff1a;

        --card: #1e293b;
        --popover: #020f1e;
        --muted: #94a3b8;
        --destructive: #ca2140;
        --ring: #cbd5e1;
    }

    * {
        @apply scroll-smooth;
    }

    section {
        @apply flex flex-col items-center justify-center relative w-full lg:min-h-screen lg:snap-start;
    }

    .skills-card {
        @apply grid grid-cols-3 grid-flow-row justify-items-center p-1 rounded-lg w-full max-w-screen text-primary md:p-4 bg-card;
    }
}

@layer utilities {
    .visible-tab {
        @apply inline-block opacity-100 !important;
    }

    .char-limit-reached {
        @apply text-destructive animate-char-limit-reached;
    }
}
