@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;
        --backdrop: 45, 15%, 95%;
        --active: 36, 29%, 90%;
        
        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;
        --backdrop: 233, 100%, 98%;
        --active: 233, 100%, 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border scroll-smooth;
    }

    body {
        @apply text-foreground bg-background min-h-screen max-w-full overflow-x-hidden;
    }

    .home-sections {
        @apply flex flex-col w-full h-full;
    }

    section {
        @apply flex flex-col items-center justify-center w-full min-h-screen relative;
    }

    nav {
        @apply backdrop-blur-sm bg-white/10 flex flex-row rounded-full px-5 py-2 w-max h-max mx-auto fixed inset-0 top-3 z-10;
    }

    .nav-list {
        @apply relative list-none flex justify-center items-center;
    }

    .nav-item {
        @apply flex z-20;
    }

    .nav-link {
        @apply font-[600] rounded-full p-2 mx-2;
    }

    .tab {
        @apply absolute z-10 opacity-0 rounded-full bg-white/50 transition-all ease-in-out;
    }

    .visible-tab {
        @apply inline-block opacity-100;
    }

    #hero {
        @apply flex flex-row justify-center items-center;
    }
}
