@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: #f5f5f5;
        --foreground: #000000;

        --card: #ffffff;
        --card-foreground: #020817;

        --popover: #ffffff;
        --popover-foreground: #020817;

        --primary: #0f172a;
        --primary-foreground: #f8fafc;

        --secondary: #f1f5f9;
        --secondary-foreground: #0f172a;

        --muted: #f1f5f9;
        --muted-foreground: #64748b;

        --accent: #f1f5f9;
        --accent-foreground: #0f172a;

        --destructive: #ef4444;
        --destructive-foreground: #f8fafc;

        --border: #e2e8f0;
        --input: #e2e8f0;
        --ring: #020817;

        --radius: 0.5rem;
    }

    .dark {
        --background: #020f1e;
        --primary: #bdcfe3;
        --secondary: #9bb0c7;

        --active: #041324;
        --backdrop: #ffffff1a;

        --popover: #020f1e;
        --muted: #94a3b8;
        --destructive: #ca2140;
        --ring: #cbd5e1;
    }

    * {
        @apply scroll-smooth;
    }

    section {
        @apply flex flex-col items-center justify-center relative w-full lg:min-h-screen lg:snap-start;
    }

    .skills-card {
        @apply grid grid-cols-3 grid-flow-row justify-items-center p-1 rounded-lg w-full max-w-screen bg-slate-800 text-primary md:p-4;
    }
}

@layer utilities {
    .visible-tab {
        @apply inline-block opacity-100 !important;
    }

    .char-limit-reached {
        @apply text-destructive animate-char-limit-reached;
    }
}
